[build-system]
build-backend = "setuptools.build_meta"
requires = ["setuptools", "setuptools-scm"]

[project]
description = "OIDC auth in fastapi using a decorator"
name = "fastapi-oidc-auth"
readme = "README.md"
requires-python = ">=3.10"
classifiers = ["Programming Language :: Python :: 3"]
dependencies = ["fastapi", "PyJWT[crypto]", "requests", "uvicorn"]
version = "0.1.0"
authors = [{ name = "Matthias Osswald", email = "m@osswald.li" }]
license = { text = "GPL-3.0-or-later" }


[project.optional-dependencies]
development = [
    "isort == 5.12.0",
    "black == 23.1.0",
    "mypy == 1.1.1",
    "nox == 2022.11.21",
    "pytest == 7.2.2",
    "flake8 == 6.0.0",
    "flake8-bugbear == 23.3.23",
    "flake8-comprehensions == 3.10.1",
    "pep8-naming == 0.13.3",
    "pyproject-flake8 == 6.0.0.post1",
    "pytest-cov == 4.0.0",
    "types-requests == 2.28.11.17",
]


[tool.mypy]
disable_error_code = "misc"
exclude = "migrations"
strict = true

[tool.flake8]
exclude = "venv,.nox,docs"
extend-ignore = ["E203"]
extend-immutable-calls = ["Argument"]
max-line-length = 99
max-doc-length = 72

[tool.black]
line-length = 99
target-version = ["py310"]

[tool.isort]
force_sort_within_sections = true
line_length = 99
profile = "black"
skip_gitignore = true
src_paths = ["src"]
